<div class="home-cont">
    <main class="main-cont">
        <div class="my-img-cont">

        </div>
        <article class="my-presentation-cont">
            <div class="titles-cont">
                <h1 class="title-presentation">
                    Brian Freijomil
                </h1>
                <p class="line-middle-hide line-middle-show">
                    |
                </p>
                <h2 class="subtitle-presentation">
                    Software Developer
                </h2>
            </div>
            <div class="text-cont">
                <p class="title-text-presentation text">
                    A little bit about me:
                </p>
                <p class="text-presentation text">
                    I'm 23, and I'm interested in software development. I consider myself attentive, responsible, creative, focused and proactive. I seek to collaborate in a dynamic team, contribute ideas and learn from experienced professionals. And above all things, always in constant learning.
                </p>
            </div>
            <div class="nav-sections">
                <div [routerLink]="'/projects'" class="btn-nav-section">
                    <p class="text-btn-nav">Projects</p>
                </div>
                <div [routerLink]="'/technologies'" class="btn-nav-section">
                    <p class="text-btn-nav">Technologies</p>
                </div>
                <div [routerLink]="'/contact'" class="btn-nav-section">
                    <p class="text-btn-nav">Contact</p>
                </div>
            </div>
        </article>
    </main>
</div>
