.home-cont {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-cont {
    width: 70vw;
    height: 28vw;
    display: flex;
    justify-content: space-between;
}

.my-img-cont {
    height: 100%;
    width: 28vw;
    background-image: url("/assets/images/img_profile.jpg");
    background-size: cover;
    /* opacity: 0.7; */
    transition: all linear 3s;
    animation: showElementOpacityAnimation linear 3s;
}


.my-presentation-cont {
    width: 40vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .titles-cont {
} */

.title-presentation {
    font-size: 3.2vw;
    letter-spacing: 0.2vw;
    margin: 0;
    font-weight: 700;
    transition: all linear 3s;
    animation: showElementOpacityAnimation linear 3s;
}

.line-middle-hide {
    display: none;
}

.subtitle-presentation {
    color: #f82d97;
    font-size: 1.8vw;
    font-weight: 400;
    margin: 0 0 0 0;
    transition: all 1s;
    animation: showSubtitleAnimation ease-in-out 2s;
}

@keyframes showElementOpacityAnimation {
    0% {
        opacity: 0;
       }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes showSubtitleAnimation {
    0% {
        opacity: 0;
        transform: translateX(15vw);
       }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.text-cont {
    margin: 0 0 7vh 0;
}

.title-text-presentation {
    font-size: 1.2vw;
    font-weight: 600;
    padding: 0;
    margin: 1% 0 1% 0;
}

.text-presentation {
    font-size: 1.2vw;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.721);
    padding: 0;
    margin: 0;
}

.nav-sections {
    display: flex;
    justify-content: flex-start;
    align-items: end;
}

.btn-nav-section {
    /* width: 10vw; */
    height: 3.5vw;
    border: solid 2px #f82d97;
    margin: 0 1.8vw 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 0.6s;
    cursor: pointer;
}
.btn-nav-section:hover {
    background-color: #f82d97;
    border: solid 2px #f82d97;
    box-shadow: 0vh 0vh 0.5vh 0.5vh #84195070;
}

.text-btn-nav {
    padding: 1vw;
    font-size: 1.2vw;
    font-weight: 600;
    margin: 0;
}


/* MOBILE STYlE*/

@media (max-width: 650px) {

    .home-cont {
        justify-content: center;
        align-items: start;
    }

    .main-cont {
        height: auto;
        display: flex;
        width: 90vw;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .my-img-cont {
        margin-top: 5vh;
        width: 80vw;
        height: 80vw;
    }

    .my-presentation-cont {
        width: 80vw;
    }

    .titles-cont {
        margin-top: 2vw;
        width: 80vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .title-presentation {
        text-align: center;
        font-size: 4vw;
        animation: none;
    }

    .line-middle-show {
        display: flex;
        text-align: center;
        font-size: 4vw;
        letter-spacing: 0.2vw;
        margin: 0;
        font-weight: 700;
    }
    
    .subtitle-presentation {
        text-align: center;
        font-size: 4vw;
        animation: showSubtitleAnimation none;
    }

    /*text*/
    .text-cont {
        margin: 2vh 0 7vh 0;
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .title-text-presentation {
        width: 80vw;
        font-size: 3vw;
        font-weight: 600;
        margin-bottom: 1vh;
        text-align: center;
    }
    
    .text-presentation {
        width: 100%;
        text-align: center;
        font-size: 3vw;
        font-weight: 400;
        color: rgb(255, 255, 255);
    }

    .nav-sections {
        width: 80vw;
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    
    .btn-nav-section {
        /* width: 10vw; */
        height: 7vw;
        margin-bottom: 5vh;
    }
    
    .text-btn-nav {
        padding: 2vw;
        font-size: 3.5vw;
        font-weight: 600;
    }


}


