<div class="home-cont">
    <main class="main-cont">
        <div class="my-img-cont">

        </div>
        <article class="my-presentation-cont">
            <div class="titles-cont">
                <h1 class="title-presentation">
                    Brian Freijomil
                </h1>
                <h2 class="subtitle-presentation">
                    Software Developer
                </h2>
            </div>
            <div class="text-cont">
                <p class="title-text-presentation text">
                    A little bit about me:
                </p>
                <p class="text-presentation text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci illum 
                    debitis assumenda exercitationem? Maiores libero dignissimos, neque voluptas 
                    velit, molestiae quibusdam odit reprehenderit commodi temporibus atque id at 
                    perferendis sapiente.
                    debitis assumenda exercitationem? Maiores libero dignissimos, neque voluptas 
                    velit, molestiae quibusdam
                </p>
            </div>
            <div class="nav-sections">
                <div [routerLink]="'/projects'" class="btn-nav-section">
                    <p class="text-btn-nav">Projects</p>
                </div>
                <div [routerLink]="'/technologies'" class="btn-nav-section">
                    <p class="text-btn-nav">Technologies</p>
                </div>
                <div [routerLink]="'/contact'" class="btn-nav-section">
                    <p class="text-btn-nav">Contact</p>
                </div>
            </div>
        </article>
    </main>
</div>
