app-header {
    height: 12vh;
    width: 100%;
}

.projects-section-cont {
    height: 88vh;
    width: 100%;
    overflow-y: auto;
}

.projects-section-cont::-webkit-scrollbar {
    width: 10px;
    background-color: #2b2b2b14;
}
.projects-section-cont::-webkit-scrollbar-thumb {
    background: #66666695;
    border-radius: 8px;
}
.projects-section-cont::-webkit-scrollbar-thumb:hover {
    background: #cdcdcd51;
}

.title-section-cont {
    height: 15vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: end;
    margin-bottom: 4vw;
}

.title-projects {
    font-size: 2.8vw;
    letter-spacing: 0.2vw;
    font-weight: 700;
    margin: 0 1vw 0 0;
    padding: 0;
}

.icon-title-cont {
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
}

.icon-img {
    width: 95%;
    height: 95%;
    filter: invert(1);
}

.projects-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-display-container {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4vw;
}


/* card */
.project-card-cont {
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31.5%;
    height: 16vw;
    border: 3px solid white;
    margin-bottom: 1.5vw;
    position: relative;
    transition: linear 1s;
}

.hover-card {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    transition: linear 1s;
}

.card-first-look {
    width: 100%;
    height: 100%;
    transition: linear 0.5s;
}

.img-project1 {
    background-image: url("/assets/images/back-card.svg");
    background-size: cover;
}

.img-project2 {
    background-image: url("/assets/images/scouterapp-img.png");
    background-size: cover;
}

.img-project3 {
    background-image: url("/assets/images/back-retrogames.png");
    background-size: cover;
}

.project-card-cont:hover {
    border: 3px solid #921455;
}

.project-card-cont:hover .card-first-look {
    opacity: 0;
}

.project-card-cont:hover .hover-card-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    background-color: #921455;
    transition: all 1s;
    animation: showCardAnimation linear 0.5s ;
}

@keyframes showCardAnimation {
    0% {
        opacity: 0;
       }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.text-card {
    height: 70%;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.title-card {
    font-size: 1.8vw;
    letter-spacing: 0.1vw;
    font-weight: 600;
    margin: 1vw 0 1vw 0;
    padding: 0;
    text-align: center;
}

.description-card {
    padding: 0;
    margin: 0;
    font-size: 1.2vw;
    font-weight: 500;
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn-card-cont {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 30%;
}

.btn-visit-project {
    border: solid 2px white;
}
.btn-visit-project:hover .text-btn-card {
    background-color: white;
    color: #921455;
    font-weight: 700;
}

.a-btn-card {
    text-decoration-line: none;
}

.text-btn-card {
    padding: 1vw;
    margin: 0;
    font-size: 1.2vw;
    font-weight: 500;
}

/* MOBILE STYlE*/

@media (max-width: 650px) {

    /*nav fixed*/

    app-header {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 8vh;
        width: 100%;
        margin: 0;
    }

    .projects-section-cont {
        overflow-y: initial;
    }

    /*title section*/

    .title-section-cont {
        height: 10vh;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
        background-color: #921455;
    }
    
    .title-projects {
        font-size: 5.5vw;
        font-weight: 700;
    }
    
    .icon-title-cont {
        width: 7.2vw;
        height: 7.2vw;
        align-items: end;
    }
    
    .icon-img {
        width: 100%;
        height: 100%;
    }


    /*cards column*/

    .projects-cont {
        height: 82vh;
        width: 100%;
        justify-content: center;
        align-items: start;
    }
    
    .projects-display-container {
        width: 100%;
        height: 100%;
        margin-bottom: 0;
        overflow-y: auto;
        justify-content: center;
    }

    .projects-display-container::-webkit-scrollbar {
        width: 7px;
        background-color: #2b2b2b14;
    }
    .projects-display-container::-webkit-scrollbar-thumb {
        background: #66666695;
        border-radius: 8px;
    }
    .projects-display-container::-webkit-scrollbar-thumb:hover {
        background: #cdcdcd51;
    }


    /*card*/
    .project-card-cont {
        width: 80vw;
        height: 50vw;
        border: 3px solid rgba(255, 255, 255, 0.546);
        margin-bottom: 8vw;
        margin-top: 8vw;
    }

    .text-card {
        height: 70%;
        width: 95%;
        display: flex;
        flex-direction: column;
    }
    
    .title-card {
        font-size: 5vw;
        letter-spacing: 0.2vw;
        margin: 2vw 0 3vw 0;
    }
    
    .description-card {
        font-size: 3vw;
        font-weight: 400;
    }
    
    .text-btn-card {
        padding: 2vw;
        font-size: 3vw;
        font-weight: 600;
    }
    

}

@media (max-width: 500px) {

    .title-projects {
        font-size: 7vw;
        font-weight: 700;
    }
    
    .icon-title-cont {
        width: 8vw;
        height: 8vw;
        align-items: end;
    }
    
    .icon-img {
        width: 100%;
        height: 100%;
    }

    .title-card {
        font-size: 6vw;
        letter-spacing: 0.2vw;
        margin: 2vw 0 1vw 0;
    }
    
    .description-card {
        font-size: 4vw;
        font-weight: 500;
    }
    
    .text-btn-card {
        padding: 2vw;
        font-size: 4vw;
        font-weight: 600;
    }


}
