<header class="header-portfolio">
    <div class="logo-portfolio-cont">
        <h1 class="title-logo-header">Brian Freijomil</h1>
    </div>
    <nav class="nav-portfolio">
        <ul class="ul-nav">
            <li [routerLink]="''" class="li-nav">
                <p class="text-li">About me</p>
                <div class="cont-icon-nav-mobile">
                    <img class="img-icon-nav-mobile" src="/assets/images/biodata_resume_job_application_profile_cv_vitae_curriculum_icon_232605.svg" alt="icon-cv-svg">
                </div>
            </li>
            <li [routerLink]="'/projects'" class="li-nav">
                <p class="text-li">Projects</p> 
                <div class="cont-icon-nav-mobile">
                    <img class="img-icon-nav-mobile" src="/assets/images/folder_filled_icon_142892.svg" alt="folder-icon-svg">
                </div>
            </li>
            <li [routerLink]="'/technologies'" class="li-nav">
                <p class="text-li">Technologies</p> 
                <div class="cont-icon-nav-mobile">
                    <img class="img-icon-nav-mobile" src="/assets/images/work-tools-crossed_icon-icons.com_68107.svg" alt="icon-tool-svg">
                </div>
            </li>
            <li [routerLink]="'/contact'" class="li-nav">
                <p class="text-li">Contact</p> 
                <div class="cont-icon-nav-mobile">
                    <img class="img-icon-nav-mobile" src="/assets/images/contact_write_us_mail_email_ecommerce_icon_224959.svg" alt="icon-contact-svg">
                </div>
            </li>
        </ul>
    </nav>
</header>
